body {

    color: #f7f7f7;
  }
 
 .tag {
     font-family: inherit; 
     font-size: 1rem;
    }  

.jumbotron {
    background-image: url("/Users/bigd/Downloads/nasa.jpeg");
    background-size: 100% 100%;
    text-align: center;
  }